section p {
  padding-bottom: 15px;
}
#resume .experience-section {
  display: none;
}
#resume .experience-section-mobile {
  display: block;
}
#resume .experience-section-mobile .expanded {
  display: block;
}
#resume .experience-section-mobile .closed {
  display: none;
}
#resume .experience-section-mobile .section-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.curriculum-title-content .title {
  margin-bottom: 3px;
}
#resume .experience-section-mobile .section-header .page-title {
  width: 90%;
  font-size: 1.8em;
}
#resume .experience-section-mobile .section-header hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3e3e45;
  padding: 0;
  width: 100%;
}
#resume .experience-section-mobile .section-header img {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
#resume .experience-section-mobile .section-header img:hover,
#resume .experience-section-mobile .section-header .page-title:hover {
  cursor: pointer;
}
.resume-title-content {
  width: 90%;
}
.resume-title-content h1:hover,
.resume-title-content span:hover {
  cursor: pointer;
}
.resume-title-content .small-text {
  display: block;
  margin-top: 3px;
}
#resume footer {
  padding-top: 25px;
  text-align: center;
}
#resume footer .cv-btn {
  display: inline-block;
  padding: 1px;
  border: solid 2px #753a88;
  background-color: #cc2b5e;
}
#resume footer .cv-btn .bg-degrade {
  display: inline-block;
  padding: 7px 10px;
  background: linear-gradient(
    0deg,
    rgba(117, 58, 136, 1) 0%,
    rgba(204, 43, 94, 1) 60%
  );
}
#resume footer .cv-btn:hover {
  cursor: pointer;
}
#resume footer .cv-btn img {
  margin-left: 5px;
}
#resume footer .cv-more-detail {
  display: block;
  margin-top: 10px;
}
#resume footer .cv-more-detail a {
  text-decoration: underline;
}
@media (min-width: 601px) {
  #resume footer .cv-more-detail {
    display: inline;
    margin-top: 0px;
  }
  #resume .experience-section {
    display: flex;
    margin-bottom: -2px;
  }
  #resume .experience-section-mobile {
    display: none;
  }
  #resume .experience-section img {
    width: 15px;
    margin-right: 5px;
    padding-top: 2px;
  }
  #resume .experience-section div:last-child {
    width: 100%;
  }
  #resume .experience-section .title {
    display: inline-block;
  }
  #resume .experience-section h2 {
    float: right;
  }
  #resume .experience-section p {
    margin: 10px 0 0 0;
    padding-bottom: 0;
  }
}
