body,
      div,
      section,
      header,
      p,
      h1,
      h2,
      hr,
      ul,
      li,
      strong {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
      }
      body {
        font-family: "Hind", sans-serif;
        min-width: 320px;
        background-color: #F1F1F1;
        font-size: 1em;
      }
      h1, h2 {
        font-size: 1.4em;
      }
      a {
        color: inherit;
      }
      span {
        font-size: 0.8em;
      }
      ul {
        list-style: none;
        text-align: left;
        margin: 15px 0;
      }
      hr {
        height: 1px;
        color: #D9D9D9;
        background: #D9D9D9;
        font-size: 0;
        border: 0;
        width: 100%;
        margin-bottom: 15px
      }
      .top-bar {
        background-color: #1E2A70;
        color: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
      }
      .top-bar img {
        width: 87px;
        margin: 0 auto;
      }
      main {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .current-value {
        font-size: 1.2em;
      }
      .vel-img {
        width: 320px;
        height: 277px;
      }
      .qr-tikkie {
        width: 273px;
        height: 273px;
        margin-bottom: 15px;
      }
      @media (min-width: 720px) {
        .vel-img {
          width: 445px;
          height: 385px;
        }
        .qr-tikkie {
          width: 332px;
          height: 332px;
        }
      }
      @media (min-width: 1020px) {
        hr {
          display: none;
        }
        main {
          padding-top: 15px;
          text-align: center;
          display: flex;
          align-items: start;
          justify-content: space-around;
          flex-direction: row;
        }
      }