#header {
  background-color: #26262a;
  border-bottom: solid 2px #3e3e45;
}
#header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 5px;
}
#header .content .mobile-center-fix {
  width: 50px;
}
#header .content .logo-link,
#header .content .logo-link img {
  height: 80%;
}
#header .content .logo-link {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
@media (min-width: 601px) {
  #header .content {
    padding: 0;
  }
  #header .content .logo-link,
  #header .content .logo-link img {
    height: 90%;
  }
  #header .content .logo-link {
    margin-right: 20px;
  }
}
