/* ----- CSS RESET ----- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #fff;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
button:focus,
button:hover {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
/* ----- MAIN STYLES ----- */
html {
  background-color: #1a1a1d;
}
body {
  color: #dddbdb;
  font-family: 'PT Sans', sans-serif;
  min-width: 320px;
}
.custom-header {
  margin-bottom: 25px;
}
p {
  font-size: 1.2em;
  text-align: justify;
}
.small-text {
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
}
.page-title {
  font-size: 2em;
  text-align: left;
  text-align: center;
}
.page-sub-title {
  font-size: 1.6em;
  color: #cc2b5e;
}
.title {
  font-size: 1.2em;
  color: #cc2b5e;
}
.page-title,
.page-sub-title,
.title {
  font-family: 'Roboto Slab', serif;
}
.main-content {
  background-color: #1a1a1d;
  padding: 0 10px 60px 10px;
}
.default-link {
  text-decoration: underline;
}
.content {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
}
.content-no-padding {
  padding-top: 0;
}
.clear-float {
  clear: both;
}
@media (min-width: 601px) {
  .main-content {
    padding: 0 10px 90px 10px;
  }
  p {
    font-size: 1em;
    text-align: left;
  }
  .small-text {
    font-size: 0.8em;
  }
  .page-title {
    font-size: 2em;
    text-align: center;
  }
  .title {
    font-size: 1.3em;
  }
  .page-sub-title {
    font-size: 1.2em;
  }
  .content {
    width: 90%;
  }
  .content-no-padding {
    padding-top: 0;
  }
}
@media (min-width: 801px) {
  p {
    font-size: 1em;
  }
  .small-text {
    font-size: 0.8em;
  }
  .page-title {
    font-size: 1.9em;
  }
  .title {
    font-size: 1.2em;
  }
  .page-sub-title {
    font-size: 1.1em;
  }
  .content {
    padding-top: 15px;
    width: 85%;
  }
  .content-no-padding {
    padding-top: 0;
  }
}
@media (min-width: 1025px) {
  .content {
    width: 70%;
  }
}
