#menu {
  display: none;
}
#menu-mobile {
  display: flex;
  width: 100%;
  justify-content: center;
}
.menu-item {
  font-size: 0.9em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #dddbdb;
  margin-right: 2px;
  padding: 16px 4px;
  background: rgb(38, 38, 42);
  background: linear-gradient(
    180deg,
    rgba(38, 38, 42, 1) 0%,
    rgba(62, 62, 69, 1) 50%
  );
}
.menu-item:hover,
.menu-item:active,
.menu-item-active {
  background: #3e3e45;
  color: #fff;
}
@media (min-width: 356px) {
  .menu-item {
    padding: 16px 8px;
  }
}
@media (min-width: 601px) {
  #menu {
    justify-content: left;
    display: flex;
    width: 100%;
  }
  #menu-mobile {
    display: none;
  }
  .menu-item {
    font-size: 1em;
    padding: 17px 8px;
    margin-right: 2px;
    background: linear-gradient(
      0deg,
      rgba(38, 38, 42, 1) 0%,
      rgba(62, 62, 69, 1) 50%
    );
  }
  .menu-item:hover,
  .menu-item:active,
  .menu-item-active {
    background: #3e3e45;
    color: #fff;
  }
}
