/*********** CSS RESET ***********/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #fff;
}
/*********** HTML5 display-role reset for older browsers ***********/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
button:focus,
button:hover {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
/*********** WEB SITE STYLES ***********/
html {
  background-color: #1a1a1d;
}
body {
  color: #dddbdb;
  font-family: 'PT Sans', sans-serif;
  min-width: 320px;
}
#presentation,
#about,
#soft-skills,
#tech-skills {
  width: 100%;
}
#presentation main,
#about main,
#soft-skills main,
#tech-skills main {
  padding: 15px 10px;
  max-width: 1000px;
  margin: 0 auto;
}
#about main h1,
#soft-skills main h1,
#tech-skills main h1 {
  padding-bottom: 10px;
}
#about,
#tech-skills {
  background-color: #26262a;
}
#presentation .profile-pic {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 2%;
  max-width: 400px;
  border: solid 1px #753a88;
  border-radius: 50%;
}
#presentation h1,
#presentation h2 {
  text-align: center;
}
#presentation section {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
#presentation section a img {
  width: 50px;
}
h1 {
  font-size: 1.6em;
  margin-bottom: 5px;
}
h2 {
  font-size: 1.3em;
  color: #cc2b5e;
  margin-top: 5px;
}
p {
  font-size: 1.1em;
}
@media (min-width: 801px) {
  #presentation main .profile-pic {
    float: left;
    margin-right: 50px;
  }
  #presentation main div h1,
  #presentation main div h2 {
    text-align: left;
  }
  #presentation main section {
    justify-content: start;
  }
  #presentation main section a img {
    margin: 0 25px 0 0;
  }
  #soft-skills {
    clear: both;
  }
  #soft-skills main h1,
  #tech-skills main h1 {
    text-align: center;
  }
}
@media (min-width: 901px) {
  #presentation main header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
