/*********** CSS RESET ***********/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: #fff;
}
/*********** HTML5 display-role reset for older browsers ***********/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
button:focus,
button:hover {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
/*********** WEB SITE STYLES ***********/
html {
  background-color: #1a1a1d;
}
body {
  color: #dddbdb;
  font-family: 'PT Sans', sans-serif;
  min-width: 320px;
}
p {
  font-size: 1.5em;
  line-height: 1.1em;
}
h1 {
  font-size: 1.9em;
  margin-bottom: 5px;
  text-align: center;
}
h2 {
  font-size: 1.7em;
  color: #cc2b5e;
  margin-top: 5px;
}
#top-bar {
  background-color: #26262a;
}
#top-bar,
#about,
#soft-skills,
#tech-skills {
  width: 100%;
}
#top-bar header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
#top-bar .linkedin-pic {
  margin-right: 15px;
}
#top-bar header,
#about main,
#soft-skills main,
#tech-skills main,
#my-work main,
#contact main {
  padding: 15px 10px;
  max-width: 1000px;
  margin: 0 auto;
}
#about main h1,
#soft-skills main h1,
#tech-skills main h1,
#my-work main h1 {
  padding-bottom: 10px;
}
#my-work,
#tech-skills {
  background-color: #26262a;
}
#top-bar h1,
#top-bar h2 {
  text-align: left;
}
#top-bar .profile-links {
  margin-top: 15px;
}
#top-bar section a img {
  width: 50px;
}
#contact {
  text-align: center;
  border-top: solid 1px;
  border-color: #753a88;
}
#contact .mailto {
  font-weight: bold;
  text-decoration: underline;
}
@media (min-width: 601px) {
  #top-bar header {
    flex-direction: row;
  }

  #top-bar .profile-links {
    margin-top: 0;
    width: 200px;
  }

  p {
    font-size: 1.4em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  #top-bar section {
    display: flex;
    justify-content: space-evenly;
  }

  #top-bar .linkedin-pic {
    margin-right: 0;
  }
}
@media (min-width: 801px) {
  #soft-skills {
    clear: both;
  }
  #soft-skills main h1,
  #tech-skills main h1,
  #my-work main h1 {
    text-align: center;
  }
}
